/*--------------------Header---------------*/
header h1{
    color:#0076bb;
}
/*--------------------Nav---------------*/
nav ul{
    background-color: #f89c1f;
    padding: 10px;
    width: 300px;
}
nav li{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
nav a{
    padding: .5rem irem;
}
/*--------------------Main---------------*/
main h1 {
    clear: both;
}
main img {
    float: right;
    width: 200px;
    height: 200px;
}

/*--------------------Footer---------------*/
footer {
    text-align: center;
    clear: both;
}