/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 55rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header img{ width: 75px;}
header h1{font-size: 2rem;}
header h2 {font-size: 1.5rem;}


/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
main figure.myphoto img{ width:100%;}
main figure.myphoto figcaption{ text-align: center; font-size:.7.5rem}

/*----------- FOOTER --------------*/
    
}/* end of media query */